

h1 {
    color:black;
    text-align: center;
    font-family: cursive;
}

h2 {
    color: black;
    text-align: center;
}
#map {
    height: 500px;
    width: 1500px;
    margin: 0 auto;
    zoom: 1;
    border: 0.2px solid black;
}
#map {position: center;}